.productContainer {
    width: fit-content;
    justify-items: center;
    box-shadow: 4px 5px 8px -1px #00000075;
    border-radius: 10px;
    background-color: white;
    transition: .1s ease-in-out;
}

.productContainer:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.productImageContainer {
    height: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.productImage {
    border-radius: 10px;
    padding: 0.6em 0.6em 0;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
}

.productDescription {
    background-color: var(--main-container-color);
    color: var(--font-color);
    width: 100%;
    height: auto;
    padding: 0.5em 0.8em;
    border-radius: 10px;
    gap: 0.5em;
    text-align: center;
    margin-top: 0.4em;
}

.productTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 18ch;
    white-space: nowrap;
}

.productPrice {
    font-weight: bold;
}

.product:link, .product:visited, .product:active {
    color: inherit;
    text-decoration: none;
}