.gridTwoMain {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.gridAutoFit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.flexCenter {
    display: flex;
    align-items: center;
    gap: 1em;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexColumnSpaceAround {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}