.gridTwoMain {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.gridAutoFit {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 1em 1.5em;
    gap: 3em;
    justify-items: center;
}

.flexCenter {
    display: flex;
    align-items: center;
    gap: 1em;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexColumnSpaceAround {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
}

.sectionContainer {
    gap: 2em;
    margin-bottom: 3em;
}

.buttonMainStyle {
    font-size: 1.1rem;
    max-width: fit-content;
    color: white;
    background-color: black;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    align-self: center;
    transition: .1s ease-in-out;
}

.buttonMainStyle:hover {
    transform: scale(1.02);
}