.navbar {
    padding: 3em;
    background-color: black;
    color: white;
    border-radius: 1em;
    width: fit-content;
}

.logoContainer {
    gap: 4em;
}

.listContainer {
    list-style-type: none;
    gap: 1em;
}

.list {
    cursor: pointer;
    fill: white;
}

.list:link, .list:visited, .list:active {
    color: inherit;
    text-decoration: none;
}

.list:hover {
    text-decoration: underline;
    color: cadetblue;
    fill: cadetblue;
}

.mainTitle:hover {
    text-decoration: none;
    color: inherit;
}

.iconList {
    width: 30px;
}