.categoriesContainer {
    background-color: var(--items-container-color);
    border-radius: 1em;
    padding: 1.5em;
}

.categoryContent {
    background-color: var(--items-container-color);
    border-radius: 1em;
    padding: 1.5em;
}