.prodFound {
    text-align: center;
    color: var(--font-color);
}

.searchBarContainer {
    background-color: var(--main-container-color);
    padding: 1.5em;
    border-radius: 1em;
    gap: 1em;
}

.searchBarInput {
    width: 100%;
}

.inputs {
    border-radius: 8px;
    padding: 8px;
}